.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
  width: 400px;
  height: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonContainer {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  gap: 10px; /* Espacio entre los botones */
}
.botonNormal
{
  background-color: #061161;
  color: white;
  padding: .5 rem 1 rem;
  font-size: 15px; /* Tamaño del texto */
  padding: 6px 20px; /* Espaciado interno (alto y ancho) */
  cursor: pointer;
  border-radius: 500px;
}

.botonNormal:hover
{
  background-color: #395385; /* Cambia el color de fondo en hover */
  transform: scale(1.05)
}

.user{
  background-color: #472a2a;
  padding: 9px;
  display: inline-block;
  border-radius: 5px;
  font-size: 0.9rem;
  color: #000000;
  position: right;
  text-align: right;
}

.label
{
  background-color: #061161;
    padding: 8px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 184.5px;
    margin-left: auto;
    text-align: left;
    margin-bottom: 10px; 
}